<div class="education-container">
  <div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <img src="../../assets/vrsec-logo.png" class="exp-company-logo" alt="B.Tech Logo">
          <h4 class="title">Bachelors in Electronics & Communications Engineering</h4>
          <p class="work-details">July 2019 - July 2022</p>
          <p style="margin-top: -14px;">V. R. Siddhartha Engineering College, Vijayawada</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <img src="../../assets/diploma.png" class="exp-company-logo" alt="Diploma Logo">
          <h4 class="title">Diploma in Electronics & Communications Engineering</h4>
          <p class="work-details">June 2016 - May 2019</p>
          <p style="margin-top: -14px;">A.A.N.M. & V.V.R.S.R. Polytechnic, Gudlavalleru</p>
        </div>
      </div>
    </div>
  </div>
</div>