<div class="header1" #header>
  <div class="tabs1">
    <div class="tabs1">
      <img class="tab1 vscode-icon" src="assets/vscode.png" />
      <div class="tab1" src="">File</div>
      <div class="tab1">Edit</div>
      <div class="tab1">Selection</div>
      <div class="tab1">View</div>
      <div class="tab1">Go</div>
      <div class="tab1">Run</div>
      <div class="tab1">Terminal</div>
      <div class="tab1">Help</div>
    </div>
    <span class="arrow-box">
      <i style="margin-right: 8px; margin-left: 18px;" class="fas fa-arrow-left"></i>
      <i class="fas fa-arrow-right"></i>
    </span>
    <span class="search-box">
      <i style="margin-right: 5px;" class="fa fa-search"></i>
      ABHINAV
    </span>
  </div>
  <div class="window-controls">
    <img class="window-controls-icon" src="assets/minimise.png" />
    <img class="window-controls-icon" src="assets/maximise.png" />
    <img class="window-controls-icon" src="assets/close.png" />
  </div>
</div>