.header1 {
  padding: 2px;
  color: var(--vscode-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--vscode-sidebar-bg);
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 25px;
  transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
}

.header1::-webkit-scrollbar {
  display: none;
}

.vscode-icon {
  height: 16px;
  margin-top: 5px;
  margin-left: 8px;
}

.tabs1 {
  display: flex;
}

.tab1 {
  padding: 1px 8px;
  /* cursor: pointer; */
  transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
}

.tab:hover {
  background-color: var(--md-sys-color-surface-container-high);
}

.search-box {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  background-color: var(--md-sys-color-surface-container);
  border-radius: 4px;
  flex-grow: 1;
  justify-content: center;
  transition: background-color var(--transition-speed) ease;
}

.search-icon {
  margin-right: 8px;
}

.project-name {
  font-weight: bold;
}

.menu-icon {
  display: none;
  /* cursor: pointer; */
  padding: 1px 8px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  background-color: var(--md-sys-color-surface-container);
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-menu .tab1 {
  padding: 8px;
  white-space: nowrap;
}

@media (max-width: 768px) {

  .arrow-box,
  .search-box,
  .window-controls {
    display: none !important;
  }
}

.search-box {
  border: solid 1px var(--md-sys-color-outline-variant);
  border-radius: 8px;
  padding: 1px 94px;
  text-align: center;
  font-size: 12px;
  margin: 3px;
  margin-left: 12px;
  background-color: transparent;
}

.arrow-box {
  font-size: 14px;
  text-align: center;
  display: inline-flex;
  align-items: center;
}

.window-controls {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.theme-toggle {
  margin-right: 15px;
  font-size: 14px;
  color: var(--vscode-text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s;
}

.theme-toggle:hover {
  background-color: var(--md-sys-color-surface-container-high);
  color: var(--md-sys-color-primary);
}

.window-controls-icon {
  height: 12px;
  width: 12px;
  filter: var(--icon-filter, none);
}

/* Add a filter for light mode icons if they are white initially */
body:not(.dark-theme) .window-controls-icon {
  filter: invert(1);
}

.window-controls img {
  padding: 0 10px;
  /* cursor: pointer; */
}

.window-controls i:hover {
  background-color: var(--md-sys-color-surface-container-high);
  border-radius: 3px;
}