<div class="footer">
    <div class="left-content">
      <div class="footer-content">
        <img class="footer-icons" src="../assets/remote-desktop.png" />
        <img class="footer-icons" src="../assets/code-branch.png" />
        <span style="font-weight: 100; color: #adadad;">main *</span>
        <img class="footer-icons" src="../assets/sync.png" />
        &nbsp;
        <img class="footer-icons" src="../assets/wrong.png" />
        <span style="font-weight: 100; color: #adadad;">0</span>
        <img class="footer-icons" src="../assets/warning.png" />
        <span style="font-weight: 100; color: #adadad;">0</span>
      </div>
    </div>
    <div class="right-content">
      <img class="footer-icons" src="../assets/notification.png" />
    </div>
  </div>