<div class="footer">
    <div class="left-content">
      <div class="footer-content">
        <img class="footer-icons" src="../assets/remote-desktop.png" />
        <img class="footer-icons" src="../assets/code-branch.png" />
        <span style="font-weight: 100; color: #adadad; font-size: 16px;">main *</span>
        <img class="footer-icons" src="../assets/sync.png" />
        &nbsp;
        <img class="footer-icons" src="../assets/wrong.png" />
        <span style="font-weight: 100; color: #adadad; font-size: 16px;">0</span>
        <img class="footer-icons" src="../assets/warning.png" />
        <span style="font-weight: 100; color: #adadad; font-size: 16px;">0</span>
      </div>
    </div>
    <div class="right-content">
      <img class="footer-icons" style="width: 20px; height: 20px;" src="../assets/double-check.png" />
      <span style="font-weight: 100; color: #adadad; margin-right: 10px; font-size: 16px;">Prettier</span>
      <img class="footer-icons" src="../assets/notification.png" />
    </div>
  </div>