<div class="footer">
  <div class="left-content">
    <div class="footer-content">
      <img class="footer-icons" src="assets/remote-desktop.png" title="Remote Desktop"/>
      <img class="footer-icons" src="assets/code-branch.png" title="Code Branch"/>
      <span class="footer-label">main *</span>
      <img class="footer-icons" (click)="reloadWindow()" src="assets/sync.png" title="Sync"/>
      &nbsp;
      <img class="footer-icons" src="assets/wrong.png" title="No Problems"/>
      <span class="footer-label">0</span>
      <img class="footer-icons" src="assets/warning.png" title="No Problems"/>
      <span class="footer-label">0</span>
    </div>
  </div>
  <div class="right-content">
    <span class="footer-label">UTF-8</span>
    <span class="footer-label">Angular</span>
    <img class="footer-icons" style="width: 14px; height: 14px;" src="assets/double-check.png" title="Prettier"/>
    <span class="footer-label">Prettier</span>
    <img class="footer-icons" src="assets/notification.png" title="Notifications"/>
  </div>
</div>