.ripple {
    width: 3px;
    height: 3px;
    background-color: transparent;
    position: fixed;
    border-radius: 50%;
    border: 1px solid #ffffff59;
    pointer-events: none;
  }

  @keyframes ripple-effect {
    to {
      transform: scale(15);
      opacity: 0.01;
    }
  }