<div class="experience-container">
  <div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <img src="assets/tricon-exp.png" class="exp-company-logo" alt="Tricon Logo">
          <h4 class="title">Software Engineer, Web Developer</h4>
          <p class="work-details">April 2023 - Present</p>
          <p style="margin-top: -14px;">TI Solutions Pvt. Ltd., Lucknow</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <img src="assets/wipro-exp.png" class="exp-company-logo" alt="Wipro Logo">
          <h4 class="title">Project Engineer, .NET Developer</h4>
          <p class="work-details">December 2022 - April 2023</p>
          <p style="margin-top: -14px;">Wipro, Bhubaneswar</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <img src="assets/wipro-exp.png" class="exp-company-logo" alt="Wipro Logo">
          <h4 class="title">DAAI - IDP, Intern</h4>
          <p class="work-details">February 2022 - May 2022</p>
          <p style="margin-top: -14px;">Wipro, Hyderabad</p>
        </div>
      </div>
    </div>
  </div>
</div>