<div class="experience-container">
  <div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <img src="assets/sutherland-exp.png" class="exp-company-logo" alt="Sutherland Logo">
          <h4 class="title">Senior Associate Software Developer</h4>
          <p class="work-details">August 2025 - Present</p>
          <p style="margin-top: -14px;">Sutherland Global Services</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <img src="assets/tricon-exp.png" class="exp-company-logo" alt="Tricon Logo">
          <h4 class="title">Software Engineer</h4>
          <p class="work-details">April 2023 - July 2025</p>
          <p style="margin-top: -14px;">TI Solutions Pvt. Ltd</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <img src="assets/wipro-exp.png" class="exp-company-logo" alt="Wipro Logo">
          <h4 class="title">Project Engineer</h4>
          <p class="work-details">December 2022 - April 2023</p>
          <p style="margin-top: -14px;">Wipro</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <img src="assets/wipro-exp.png" class="exp-company-logo" alt="Wipro Logo">
          <h4 class="title">DAAI - IDP, Intern</h4>
          <p class="work-details">February 2022 - May 2022</p>
          <p style="margin-top: -14px;">Wipro</p>
        </div>
      </div>
    </div>
  </div>
</div>