<div class="projects-container">
    <h2 style="margin-bottom: 12px;">Projects I've Built So Far</h2>
    <div class="container1">
        <div class="row row-col-8" style="margin-right: 50px; margin-left: 0;">
            <div class="card1">
                <img src="assets/digital-column-clock.png" alt="Card image">
                <div class="card-body1">
                    <h5 class="card-title1">Digital Column Clock</h5>
                    <p class="card-text1">It displays the current time in HH:MM:SS format and lets users choose from a wide list of world cities with accurate timezone conversion.</p>
                    <div class="row row-cols-12 ProjectCard-tech">
                        <div class="col">
                            <p>HTML</p>
                        </div>
                        <div class="col-4">
                            <p>CSS</p>
                        </div>
                        <div class="col">
                            <p>TypeScript</p>
                        </div>
                        <div class="col">
                            <p>Angular</p>
                        </div>
                    </div>
                    <div class="button-grp">
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="https://github.com/Abhinav6174/digital-clock" class="button-link">
                                <i class="fa-brands fa-github"></i> GitHub
                            </a>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="https://abhinav6174.github.io/digital-clock/" target="_blank" class="button-link">
                                <i class="fa-solid fa-laptop"></i> Live
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card1">
                <img src="assets/lucid-vita.png" alt="Card image">
                <div class="card-body1">
                    <h5 class="card-title1">LucidVita - Create Professional Resumes in Minutes</h5>
                    <p class="card-text1">Craft a professional, standout resume effortlessly and take your career to new heights with our intuitive resume builder.</p>
                    <div class="row row-cols-12 ProjectCard-tech">
                        <div class="col">
                            <p>HTML</p>
                        </div>
                        <div class="col-4">
                            <p>Tailwind CSS</p>
                        </div>
                        <div class="col">
                            <p>React Js</p>
                        </div>
                        <div class="col">
                            <p>Firebase</p>
                        </div>
                    </div>
                    <div class="button-grp">
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="#" class="button-link">
                                <i class="fa-brands fa-github"></i> GitHub
                            </a>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="https://lucidvita.web.app/" target="_blank" class="button-link">
                                <i class="fa-solid fa-laptop"></i> Live
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card1">
                <img src="assets/linkedin-extension.png" alt="Card image">
                <div class="card-body1">
                    <h5 class="card-title1">LinkedIn Automation Chrome Extension</h5>
                    <p class="card-text1">Chrome extension to streamline sending LinkedIn connection requests, utilizing dynamic
                        URLs and personalized messages.</p>
                    <div class="row row-cols-12 ProjectCard-tech">
                        <div class="col">
                            <p>HTML</p>
                        </div>
                        <div class="col">
                            <p>CSS</p>
                        </div>
                        <div class="col">
                            <p>Javascript</p>
                        </div>
                        <div class="col">
                            <p>Chrome APIs</p>
                        </div>
                    </div>
                    <div class="button-grp">
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="#" class="button-link">
                                <i class="fa-brands fa-github"></i> GitHub
                            </a>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="#" class="button-link">
                                <i class="fa-solid fa-laptop"></i> Demo
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card1">
                <img src="assets/timesheet-app.png" alt="Card image">
                <div class="card-body1">
                    <h5 class="card-title1">TimeSheet Management Web App</h5>
                    <p class="card-text1">Manage Time Sheet, Send Normal and Recurring Emails, Export Time Sheet to
                        Excel and pdf.</p>
                    <div class="row row-cols-12 ProjectCard-tech">
                        <div class="col">
                            <p>HTML</p>
                        </div>
                        <div class="col">
                            <p>CSS</p>
                        </div>
                        <div class="col">
                            <p>RectsJs</p>
                        </div>
                        <div class="col">
                            <p>.NET</p>
                        </div>
                        <div class="col">
                            <p>Web API</p>
                        </div>
                        <div class="col-6">
                            <p>MS SQL</p>
                        </div>
                    </div>
                    <div class="button-grp">
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="#" class="button-link">
                                <i class="fa-brands fa-github"></i> GitHub
                            </a>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="#" class="button-link">
                                <i class="fa-solid fa-laptop"></i> Demo
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card1">
                <img src="assets/super-market-app.png" alt="Card image">
                <div class="card-body1">
                    <h5 class="card-title1">Super Market Web App</h5>
                    <p class="card-text1">Products categorized into sections, manage orders and payment information</p>
                    <div class="row row-cols-12 ProjectCard-tech">
                        <div class="col">
                            <p>HTML</p>
                        </div>
                        <div class="col">
                            <p>CSS</p>
                        </div>
                        <div class="col">
                            <p>Javascript</p>
                        </div>
                        <div class="col">
                            <p>.NET</p>
                        </div>
                        <div class="col">
                            <p>MVC</p>
                        </div>
                        <div class="col">
                            <p>MS SQL</p>
                        </div>
                    </div>
                    <div class="button-grp">
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="#" class="button-link">
                                <i class="fa-brands fa-github"></i> GitHub
                            </a>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="#" class="button-link">
                                <i class="fa-solid fa-laptop"></i> Demo
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card1">
                <img src="assets/to-do-app1.png" alt="To-Do App">
                <div class="card-body1">
                    <h5 class="card-title1">To-Do List App</h5>
                    <p class="card-text1">Make To-Do lists. Completed tasks are usually moved to a separate section for
                        easy tracking.</p>
                    <div class="row row-cols-12 ProjectCard-tech">
                        <div class="col">
                            <p>HTML</p>
                        </div>
                        <div class="col">
                            <p>CSS</p>
                        </div>
                        <div class="col">
                            <p>RectsJs</p>
                        </div>
                    </div>
                    <div class="button-grp">
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="https://github.com/Abhinav6174/to-do-app" target="_blank" class="button-link">
                                <i class="fa-brands fa-github"></i> GitHub
                            </a>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="https://abhinav6174.github.io/to-do-app" target="_blank" class="button-link">
                                <i class="fa-solid fa-laptop"></i> Live
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card1">
                <img src="assets/age-calculator.png" alt="Age Calculator">
                <div class="card-body1">
                    <h5 class="card-title1">Age Calculator</h5>
                    <p class="card-text1">Calculate your age in days, weeks, months and years, etc.</p>
                    <div class="row row-cols-8 ProjectCard-tech">
                        <div class="col">
                            <p>HTML</p>
                        </div>
                        <div class="col">
                            <p>CSS</p>
                        </div>
                        <div class="col">
                            <p>RectsJs</p>
                        </div>
                    </div>
                    <div class="button-grp">
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="https://github.com/Abhinav6174/age-calculator" target="_blank" class="button-link">
                                <i class="fa-brands fa-github"></i> GitHub
                            </a>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="https://abhinav6174.github.io/age-calculator" target="_blank" class="button-link">
                                <i class="fa-solid fa-laptop"></i> Live
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>