.file-tabs {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  user-select: none;
  margin: -10px;
  /* cursor: url('/assets/cursor.png'), pointer; */
}

.file-tabs::-webkit-scrollbar {
  display: none;
}

.file-tab {
  background-color: #212121;
  padding: 2px 10px;
  margin-right: 1px;
  margin-left: 1px;
  /* cursor: pointer; */
  transition: background-color 0.3s ease;
  max-width: fit-content;
  min-width: fit-content;
  z-index: 999;
}

.file-tab:hover {
  background-color: #333333;
}

.file-tab.active {
  background-color: #121116;
  color: #ffffff;
  border-top: solid 2px #888888;
}

.file-tab .tab-close {
  margin-left: 5px;
  color: #d4d4d4;
}

.file-tab .tab-close:hover {
  color: #fff;
}

.explorer-folder-icon {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  margin-bottom: 3px;
}