<div class="file-tabs" #fileTabs>
  <div class="file-tab" [class.active]="isActive('/home')" (click)="navigateTo('/home')">
    <img class="explorer-folder-icon" src="assets/html.png" />
    Home.html &nbsp;
    <fa-icon [icon]="faClose"></fa-icon>
  </div>
  <div class="file-tab" [class.active]="isActive('/experience')" (click)="navigateTo('/experience')">
    <img class="explorer-folder-icon" src="assets/html.png" />
    Experience.html &nbsp;
    <fa-icon [icon]="faClose"></fa-icon>
  </div>
  <div class="file-tab" [class.active]="isActive('/projects')" (click)="navigateTo('/projects')">
    <img class="explorer-folder-icon" src="assets/html.png" />
    Projects.html &nbsp;
    <fa-icon [icon]="faClose"></fa-icon>
  </div>
  <div class="file-tab" [class.active]="isActive('/skills')" (click)="navigateTo('/skills')">
    <img class="explorer-folder-icon" src="assets/html.png" />
    Skills.html &nbsp;
    <fa-icon [icon]="faClose"></fa-icon>
  </div>
  <div class="file-tab" [class.active]="isActive('/education')" (click)="navigateTo('/education')">
    <img class="explorer-folder-icon" src="assets/html.png" />
    Education.html &nbsp;
    <fa-icon [icon]="faClose"></fa-icon>
  </div>
  <!-- <div class="file-tab" [class.active]="isActive('/certifications')" (click)="navigateTo('/certifications')">
          <img class="explorer-folder-icon" src="assets/html.png" />
          Certifications.html
          <fa-icon [icon]="faClose"></fa-icon>
        </div> -->
</div>
<div class="file-content">
  <router-outlet></router-outlet>
</div>