.skills-container {
    max-height: 80vh;
    overflow-y: auto;
    margin: 0px;
    padding: 17px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.skills-container ::-webkit-scrollbar {
    display: none;
}

.links-container {
    border-radius: 14px;
    margin: 8px;
    background-color: #222127;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    transition: transform .3s;
    /* box-shadow: -2px -2px 8px rgba(0, 0, 0, 0), -2px -2px 12px rgba(1, 1, 1, 0.5), inset 2px 2px 4px rgba(1, 1, 1, 0.1), 2px 2px 8px rgba(1, 1, 1, 0.15); */
}

.links-container:hover {
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.skills-icons {
    height: 50px;
    width: 50px;
    margin: 14px;
}

.row {
    margin-right: none;
    margin-left: none;
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: fit-content;
    }
}

@media (min-width: 576px) {

    .container,
    .container-md,
    .container-sm {
        max-width: fit-content;
    }
}