<div class="skills-container">
    <div class="container">
        <div class="row row-cols-8" style="margin-right: 0; margin-left: 0;">
            <h2 style="margin-bottom: 12px;">Programming Languages</h2>
            <div class="links-container col">
                <img alt='C' class="skills-icons" src='../../assets/c.png' />
                <h4>C</h4>
            </div>
            <div class="links-container col">
                <img alt='C#' class="skills-icons" src='../../assets/c-sharp.png' />
                <h4>C#</h4>
            </div>
            <div class="links-container col">
                <img alt='Python' class="skills-icons" src='../../assets/python.png' />
                <h4>Python</h4>
            </div>
            <h2 style="margin-bottom: 12px; margin-top: 24px;">Web Technologies</h2>
            <div class="links-container col">
                <img alt='HTML' class="skills-icons" src='../../assets/html.png' />
                <h4>HTML</h4>
            </div>
            <div class="links-container col">
                <img alt='CSS' class="skills-icons" src='../../assets/css.png' />
                <h4>CSS</h4>
            </div>
            <div class="links-container col">
                <img alt='JavaScript' class="skills-icons" src='../../assets/javascript.png' />
                <h4>JavaScript</h4>
            </div>
            <div class="links-container col">
                <img alt='ReactJs' class="skills-icons" src='../../assets/reactjs.png' />
                <h4>ReactJs</h4>
            </div>
            <div class="links-container col">
                <img alt='TypeScript' class="skills-icons" src='../../assets/typescript.png' />
                <h4>TypeScript</h4>
            </div>
            <div class="links-container col">
                <img alt='Angular' class="skills-icons" src='../../assets/anular.png' />
                <h4>Angular</h4>
            </div>
            <h2 style="margin-bottom: 12px; margin-top: 24px;">Framewroks</h2>
            <div class="links-container col">
                <img alt='ASP .NET Core' class="skills-icons" src='../../assets/dot-net.png' />
                <h4>ASP .NET Core</h4>
            </div>
            <div class="links-container col">
                <img alt='Entity Framework' class="skills-icons" src='../../assets/entity-framework.png' />
                <h4>Entity Framework</h4>
            </div>
            <h2 style="margin-bottom: 12px; margin-top: 24px;">Database</h2>
            <div class="links-container col">
                <img alt='MS SQL' class="skills-icons" src='../../assets/sql-server.png' />
                <h4>MS SQL</h4>
            </div>
        </div>
    </div>
</div>