<div class="skills-container">
    <div class="container">
        <div class="row row-cols-8" style="margin-right: 0; margin-left: 0;">

            <h2 style="margin-bottom: 12px;">Programming Languages</h2>
            <!-- <div class="links-container col">
                <img alt='C' class="skills-icons" src='assets/c.png' />
                <h5>C</h5>
            </div> -->
            <div class="links-container col">
                <img alt='C#' class="skills-icons" src='assets/c-sharp.png' />
                <h5>C#</h5>
            </div>
            <!-- <div class="links-container col">
                <img alt='Python' class="skills-icons" src='assets/python.png' />
                <h5>Python</h5>
            </div> -->
            <div class="links-container col">
                <img alt='JavaScript' class="skills-icons" src='assets/javascript.png' />
                <h5>JavaScript</h5>
            </div>
            <div class="links-container col">
                <img alt='TypeScript' class="skills-icons" src='assets/typescript.png' />
                <h5>TypeScript</h5>
            </div>

            <h2 style="margin-bottom: 12px; margin-top: 24px;">Web Technologies</h2>
            <div class="links-container col">
                <img alt='HTML' class="skills-icons" src='assets/html.png' />
                <h5>HTML</h5>
            </div>
            <div class="links-container col">
                <img alt='CSS' class="skills-icons" src='assets/css.png' />
                <h5>CSS</h5>
            </div>
            <div class="links-container col">
                <img alt='Angular' class="skills-icons" src='assets/anular.png' />
                <h5>Angular</h5>
            </div>
            <div class="links-container col">
                <img alt='ReactJs' class="skills-icons" src='assets/reactjs.png' />
                <h5>ReactJs</h5>
            </div>

            <h2 style="margin-bottom: 12px; margin-top: 24px;">Libraries</h2>
            <div class="links-container col">
                <img alt='Bootstrap' class="skills-icons" src='assets/bootstrap.png' />
                <h5>Bootstrap</h5>
            </div>
            <div class="links-container col">
                <img alt='Redux Toolkit' class="skills-icons" src='assets/redux.png' />
                <h5>Redux Toolkit</h5>
            </div>
            <div class="links-container col">
                <img alt='Tailwind CSS' class="skills-icons" src='assets/tailwindcss.png' />
                <h5>Tailwind CSS</h5>
            </div>

            <h2 style="margin-bottom: 12px; margin-top: 24px;">Framewroks</h2>
            <div class="links-container col">
                <img alt='ASP .NET Core' class="skills-icons" src='assets/dot-net.png' />
                <h5>ASP .NET Core</h5>
            </div>
            <div class="links-container col">
                <img alt='Entity Framework' class="skills-icons" src='assets/entity-framework.png' />
                <h5>Entity Framework Core</h5>
            </div>
            <h2 style="margin-bottom: 12px; margin-top: 24px;">Database</h2>
            <div class="links-container col">
                <img alt='MS SQL' class="skills-icons" src='assets/sql-server.png' />
                <h5>MS SQL</h5>
            </div>

            <h2 style="margin-bottom: 12px; margin-top: 24px;">Version Control</h2>
            <div class="links-container col">
                <img alt='Git' class="skills-icons" src='assets/git.png' />
                <h5>Git</h5>
            </div>
            <div class="links-container col">
                <img alt='Github' class="skills-icons" src='assets/github.png' />
                <h5>Github</h5>
            </div>
        </div>
    </div>
</div>