/* .container1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
  } */

  .container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .editor-container {
    flex-grow: 1;
    background-color: #1e1e1e;
    overflow-y: auto;
  }

  .editor-container {
  display: flex;
  height: 100vh;
}



/* .header1 {
    padding: 2px;
    color: #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    overflow-x: auto;
    background: linear-gradient(to right, #353535, #171717);
    scrollbar-width: none;
    -ms-overflow-style: none;
  } */
  
  .vscode-icon {
    height: 20px;
  }
  
  /* .tabs1 {
    display: flex;
  }
  
  .tab1 {
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tab:hover {
    background-color: #3a3a3a;
  } */
  
  .content1 {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 63px);
    overflow-y: hidden;
    flex: 1;
  }
  
  .sidebar1 {
    display: flex;
    flex-direction: column;
    width: 25px;
    background-color: #000000;
    padding: 12px;
    position: relative;
  }
  
  .sidebar-item1 {
    display: flex;
    align-items: center;
  
  }
  
  .sidebar-item1 fa-icon {
    margin-right: 10px;
  }
  
  .sidebar-item1 span {
    font-size: 14px;
  }
  
  .bottom-sidebar1-icon-container {
    position: absolute;
    bottom: 10px;
  }
  
  .top-sidebar1-icon-container {
    position: relative;
    bottom: 10px;
  }
  
  .sidebar1-icons {
    width: 28px;
    height: 28px;
    margin-top: 10px;
  }
  
  .resizable-sidebar {
    display: flex;
    align-items: stretch;
  }
  
  .sidebar2 {
    background-color: #333333;
    padding: 10px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #555 #333;
    white-space: nowrap;
    user-select: none;
    text-overflow: ellipsis;
    position: relative;
  }
  
  .sidebar2-content {
    overflow-x: hidden;
    white-space: nowrap;
  }
  
  .sidebar-item2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow-x: hidden;
    white-space: nowrap;
  }
  
  .sidebar-item2 :hover {
    background-color: #1e1e1e;
  }
  
  .sidebar-item2 fa-icon {
    margin-right: 4px;
    font-size: 12px;
    font-weight: 100;
  }
  
  .sidebar2::-webkit-scrollbar {
  width: 2px;
  height: 8px;
  }
  
  .sidebar2::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  }
  
  .sidebar2::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  }
  
  .sidebar2::-webkit-scrollbar-track {
  background-color: #333;
  }
  
  .icon-arrow {
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-folder {
    width: 15px;
    font-size: 15px !important;
    margin-right: 6px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-content a {
    padding: 5px 0;
    text-decoration: none;
    color: inherit;
  }
  
  .dropdown-content a:hover {
    background-color: #1e1e1e;
  }
  
  .subfolder-dropdown-content {
    margin-bottom: 0px;
  }
  
  .editor {
    flex-grow: 1;
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding: 10px;
    overflow: hidden;
    background: linear-gradient(to left, #353535, #171717);
    margin-left: 49px
  }
  
  .file-tabs {
    display: flex;
    overflow-x: auto;
    /* padding-bottom: 10px; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    user-select: none;
  }
  
  .file-tab {
    background-color: #333333;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: fit-content;
    min-width: fit-content;
  }
  
  .file-tab:hover {
    background-color: #3a3a3a;
  }
  
  .file-tab.active {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .file-tab .tab-close {
    margin-left: 5px;
    color: #d4d4d4;
  }
  
  .file-tab .tab-close:hover {
    color: #fff;
  }
  
  .section {
    display: none;
  }
  
  .section.active {
    display: block;
  }
  
  .resizer {
    width: 5px;
    cursor: ew-resize;
    background-color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .sidebar2 {
      display: none;
    }
  
    .resizer {
      display: none;
    }
  }
  
  .header {
    padding: 2px;
    color: #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    background: linear-gradient(to right, #353535, #171717);
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    color: white;
    padding: 8px;
    height: 10px;
  }
  
  .footer-icons {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .footer-tabs {
    display: flex;
  
  }
  
  .footer-content {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .left-content {
    flex: 1;
  }
  
  .right-content {
    display: flex;
    align-items: center;
  }
  
  .notification-icon {
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }