.editor-container {
  flex-grow: 1;
  background-color: #121116;
  overflow-y: auto;
  display: flex;
  height: 100vh;
}

.editor {
  flex-grow: 1;
  background-color: #121116;
  color: #d4d4d4;
  padding: 10px;
  overflow: hidden;
  margin-left: 49px
}