<div class="sidebar1">
  <div class="top-sidebar1-icon-container">
    <span (click)="toggleexplorer()" class="sidebar1-icons icon icon-hamburger" title="Toggle Explorer"></span>
    <span class="sidebar1-icons icon icon-search" title="Search"></span>
    <span class="sidebar1-icons icon icon-git-branch" title="Git"></span>
    <span class="sidebar1-icons icon icon-debug" title="Debug"></span>
    <span class="sidebar1-icons icon icon-extension" title="Extensions"></span>
    <a href="https://github.com/Abhinav6174" target="_blank" title="GitHub" style="display: inline-flex; justify-content: center; align-items: center;">
      <span class="sidebar1-icons icon icon-github" alt="GitHub"></span>
    </a>
    <span (click)="share()" class="sidebar1-icons icon icon-live-share" title="Live Share"></span>
  </div>
  <div>
    <div class="bottom-sidebar1-icon-container">
      <span class="sidebar1-icons icon icon-profile" (click)="navigateTo('/home')" title="Home Profile"></span>
      <span class="sidebar1-icons icon icon-settings" title="Settings"></span>
    </div>
  </div>
</div>