<div class="sidebar1">
    <div class="icon-container1">
      <div class="top-sidebar1-icon-container">
        <img (click)="toggleexplorer()" class="sidebar1-icons" src="../assets/hamburger.png" />
        <img class="sidebar1-icons" src="../assets/search.png" />
        <img class="sidebar1-icons" src="../assets/git-branch.png" />
        <img class="sidebar1-icons" src="../assets/debug.png" />
        <img class="sidebar1-icons" src="../assets/extension.png" />
        <img class="sidebar1-icons" src="../assets/github.png" />
        <img class="sidebar1-icons" src="../assets/live-share.png" />
      </div>
      <div>
        <div class="bottom-sidebar1-icon-container">
            <img class="sidebar1-icons" src="../assets/profile.png" />
            <img class="sidebar1-icons" src="../assets/settings.png" />
          </div>
      </div>
    </div>
  </div>