@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: 'patrick-hand'; */
  font-family: "Itim", cursive;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #d4d4d4;
  overflow: hidden;
  scroll-behavior: smooth !important;
}

/* 
*{
  border: solid 1px red;
} */