<div class="home-container">
    <div class="profile-container">
        <div class="profile-item">
            <div>
                <img src="assets/Profile-pic.jpg" alt="Profile Picture" class="profile-image">
            </div>
            <div class="profile-text">
                <div>
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <h2 class="name">Hi, I’m Abhinav</h2>
                        <img class="hi" src="assets/hi.gif"/>
                    </div>
                </div>
                <div>
                    <p class="about">
                        I am a Web Developer 🧑🏻‍💻 with experience in building web applications using C#, ASP .NET
                        Core, and Angular.
                        I am excited to explore new opportunities and take on challenges in my career. In my leisure
                        time, I enjoy browsing through tech articles 📃 and stargazing 🔭.
                    </p>
                </div>
                <div class="social-icons">
                    <a href="https://github.com/Abhinav6174" target="_blank"><i class="fab fa-github"></i></a>
                    <!-- <a href="#" target="_blank"><i class="fa fa-envelope"></i></a> -->
                    <a href="https://www.linkedin.com/in/abhinav6174" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="buttons">
                    <a href="mailto:abhinav.vadlamudi1@gmail.com" target="_blank" style="text-decoration: none;">
                        <button style="width: 95px;" class="btn btn-light">Contact</button>
                    </a>
                    &nbsp;
                    <a href="https://drive.google.com/uc?export=download&id=1cPwHSmdzqm-Y5zq3pEgZJfmnDRERJ_yL" download style="text-decoration: none;">
                        <button class="btn btn-light">Download CV</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>